*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'open sans', sans-serif;
    
}

body {
    height: 100%;
    flex-direction: column;
    background-position: center;
    background-size: 100%;
    background-image: url(stacked-waves-haikei.svg);
    background-repeat: no-repeat;
    background-size: cover;


}


li{
    list-style: none;
}

a{
   text-decoration: none;
   color: #ba8f4a;
   font-size: 1rem; 
   transition: 0.4s;
}

a:hover{
    color: white;
  /* padding-top: 2px;*/
}
a:active{
    color: antiquewhite;
}


.navbar{
    background-color:#232559 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    position: fixed;
    z-index: 1000;
    
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}
.navbar ul{
    display: flex;
    list-style: none;
}

.logo img{
    height: 50px;
    margin-right: 20px;

}

.logo a {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.logo a:hover{
    color: white;
}
span{
    font-size: 20px;
}



.action_btn{
    background-color: whitesmoke ;
    color: #232559;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
    
}

.action_btn:hover{
    scale: 1.05;
    color: #ba8f4a;
}
 .action_btn:active{
    scale: 0.95;
 }
 @media(max-width: 800px){
    .action_btn{
        display:none;
    }
    
}


 .sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 9999;
    background-color: #2325597b;
    backdrop-filter: blur(10px);
    box-shadow:-10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
    padding: 10px 5px;
}
.sidebar a{
    width: 100%;
    margin: 10px;

}

.sidebar a:hover{
    background-color: #ba8f4a;
    transition: 0.6s;
    margin-left:10px ;
    border-left: 3px solid white;
    align-items: center;
    text-align: center;

}

.menu-button{
    display: none;
}

@media(max-width: 800px){
    .hideOnMobile{
        display:none;
    }
    .menu-button{
        display: block;
    }
}

@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}




section{
    position: relative;
    display: flex;
    flex-direction: column;
    
    min-height: 400px;
    padding: 100px 20vw ;
}

.blue{
    background-image:  linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(image1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
    color: white;
}
.blue h1{
    font-size: 70px;
    text-align: center;
}
.blue p{
    text-align: center;
    font-size: 30px;
}


.red{
    background-color: white;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;

}
.yellow{
    background-image:  linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(about-img2.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
    color: white;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.4);
    
}
h3{
    font-size: 20px;
    text-align: left ;
    color: #232559;
    border-left: 3px solid #ba8f4a;
    padding: 3px;
}

.yellow h3{
    font-size: 40px;
    text-align: left ;
    color: white;
    border-left: 3px solid #ba8f4a;
    padding: 3px;
}

h6{
    text-align: center;
    font-size: 40px;
    color: #232559;
    margin-bottom: 0;
    margin-bottom: 20px;
}


.yellow p{
    margin: 5px;
    font-size: 15px;
    font-weight: lighter;
}
.orange h5{
    font-size: 50px;
    text-align: center;
    color: #232559;
    border-bottom: 4px solid #ba8f4a;
    margin-bottom: 10px; 

}
.orange p{
    margin: 5px;
    font-size: 15px;
    font-weight: lighter;
}


.column {
    float: left;
    width: 33.33%;
    padding: 15px;
  }
  
 /*.row{
    display: flex;
    flex-direction: row;

 }*/

 .red h4 {
    border: 5px solid #ba8f4a;
    border-bottom: none;
    border-top: none;
    border-right: none;
    padding: 5px;
    z-index: -1;
    color: #232559;
    
  }
  .red p {
    margin: 5px;
    font-size: 15px;
    font-weight: lighter;
    
  }
 /* .grid-container {
    display: grid;
    grid-template-columns: 1fr ; 
    min-height: 10vh; 
}*/

.main1 {
    font-weight: lighter;
    text-align: left;
    
}

.section1-links li{
    list-style-type: disc;
  justify-content: left;
}

 .main1 h3{
    color: #232559;
    font-size: 20px;
    margin-top:15px ;
    text-align: left;
  
   
}

.main1 p{
    margin-top: 5px;
    align-items: justify;
}






@media only screen and (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr;   
    }
}


.green img{
    height: 250px;
    width: 400px;
    border-radius: 20px;
}
.green h1{
    font-size: 30px;
    text-align: center;
    border-bottom: 4px solid #ba8f4a;
    margin-bottom: 10px;  
}
.green P{
    text-align: justify;
    margin: 5px;
    font-size: 15px;
    font-weight: lighter;

}
.button{
    background-color: #ba8f4a;
    outline:none;
    border: none;
    color: white;
    text-align: center;
    border-radius: 20px;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.4 ease;
    margin-left: 45%;
    margin-right: 45%;
    margin-top: 0px;
}
.button:hover{
    scale: 1.05;
    color: #232559;
}
 .button:active{
    scale: 0.95;
 }
 .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 2rem;
    min-height: 10vh; 
    margin: 10px;
 
}

.section4 {
    font-weight: lighter;

}
.section4 h4{
    color: #232559;
    font-size: 30px;
    border-bottom: 3px solid #ba8f4a;
    margin-bottom: 10px;
}

.section5 {
   font-weight: lighter;
}

.section5 img{
    height: 100%;
    width: 70%;
    border-radius: 10px;
}








  
/*footer*/
  footer{
   display: flex;
   flex-wrap: wrap;
   margin-top: auto;
   background-color: #232559;
   padding: 60px 10%;

  }

  ul{
    list-style: none;
  }
  .footer-col{
    width:25%
  }
 .footer-col h4 {
    position: relative;
    margin-bottom: 30px;
    font-weight: 400;
    color: #ba8f4a;
    text-transform: capitalize;
 }
 .footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    background-color: aliceblue;
    bottom: -6px;
    height: 2px;
    width: 40px;
 }

 ul li::not(:last-child){
    margin-bottom: 8px;
 }
ul li a{
    display: block;
    font-size: 19px;
    text-transform: capitalize;
    color: #ba8f4a;
    transition: 0.4s;
    text-decoration: none;
}
ul li a:hover {
    color: white;
    padding-left: 2px;
}

.link a{
    display: inline-block;
    height: 44px;
    width: 44px;
    color: azure;
    background-color: rgba(40, 130, 214, 0.8);
    margin: 0 8px 8px 0;
    text-align: center;
    line-height: 44px;
    border-radius: 50%;
    transition: 0.4s;
}
.link a:hover{
    background-color: azure;
    color: #ba8f4a;
}

@media  (max-width: 740px){
.footer-col{
    width: 50%;
    margin-bottom: 30px;
    text-align: center;
}
}
@media  (max-width: 555px){
    .footer-col{
        width: 100%;
        margin-bottom: 30px;
        text-align: center;
    }
    }


    
