*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'open sans', sans-serif;
}

body {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)) ,url(homepic.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    width: auto;
    color: white;

}


li{
    list-style: none;
}

a{
   text-decoration: none;
   color: #ba8f4a;
   font-size: 1rem; 
}

a:hover{
    color: white;
}
a:active{
    color: antiquewhite;
}

/*HEADER*/
.top-header {
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}  
.top-header ul {
    display: flex;
    list-style: none;
    }
.top-header span{
    color: #020202;
}
.top-header li {
    margin: 0px 5px;
}
.top-header a {
    color: #222;
}
.top-header a:hover{
    color: #222;
}